<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironia do Medo</title>
    <link rel="shortcut icon" href="static/img/ironia_main.png" type="image/x-icon">
    <link rel="stylesheet" href="static/prev_styles.css">
    <script src="static/prev_scripts.js" defer></script>
</head>
<body>

    <div class="background-overlay">
        <img src="static/img/ironia_main.png" alt="">
    </div>

    <main class="main-container">
        
        <div class="landing-card">
            
            <header class="card-header">
                <h1>Ironia do Medo</h1>
                <p>Ficha de RPG personalizada</p>
            </header>

            <div class="card-body">
                
                <div class="load-section">
                    <span class="load-text">Carregar personagem</span>
                    <button id="load-button"></button>
                </div>

                <div class="footer-section">
                    <button id="continue-button">Continuar</button>
                </div>

            </div>

        </div>

    </main>

</body>
</html>