<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironia do Medo</title>
    <link rel="shortcut icon" href="static/img/ironia_main.png" type="image/x-icon">
    <link rel="stylesheet" href="static/prev_styles.css">
    <script src="static/prev_scripts.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>

    <div class="background-overlay">
        <img src="static/img/ironia_main.png" alt="">
    </div>

    <main class="main-container">
        
        <div class="landing-card">
            
            <header class="card-header">
                <h1>Ironia do Medo</h1>
                <p>Ficha de RPG personalizada</p>
            </header>

            <div id="main-menu" class="card-body">
                <div class="load-section">
                    <span class="load-text">Carregar personagem</span>
                    <button id="load-button" 
                            hx-get="/partials/characters" 
                            hx-target="#character-list" 
                            hx-trigger="click">
                    </button>
                </div>
                <div class="footer-section">
                    <button id="continue-button">Continuar</button>
                </div>
            </div>

            <div id="load-menu" class="card-body hidden">
                <h2 style="color: #313131; text-transform: uppercase;">Personagens</h2>
                
                <form onsubmit="event.preventDefault();" style="width: 100%;">
                    
                    <input class="search-input" 
                           type="search" 
                           name="q" 
                           placeholder="Buscar personagem (ex: Washi)..." 
                           autocomplete="off"
                           hx-get="/partials/characters" 
                           hx-trigger="input changed delay:300ms, search" 
                           hx-target="#character-list"
                           hx-swap="innerHTML">
                </form>
                
                <ul id="character-list" class="character-list">
                    </ul>
                
                <div class="footer-section">
                    <button id="back-button" class="back-btn">Voltar</button>
                </div>
            </div>

        </div>

    </main>

</body>
</html>
